<section id="r-splash-intro">
    <div class="hero">
        <div class="container">
            <h1>recipient</h1>
            <h6>amazingly calculated recipes at your fingertips</h6>
            <div class="row">
                <div class="twelve columns">
                    <input class="six" type="text" placeholder="Search here" id="recipieSearch">
                </div>
            </div>
            <div class="row">
                <div class="twelve columns">
                    <input class="button-success six" type="submit" value="Search This">
                    <input class="button-success six" type="submit" value="Gimme anything">
                </div>

            </div>
        </div>

    </div>
</section>
<div class="container">
    <div class="row">
        <div class="three columns">INSERT SEARCH BOX HERE</div>
        <div class="nine columns">INSERT RECIPES HERE</div>
    </div>

</div>
<% @recipes.each do |recipe| %>

  <%= render @recipe %>

<% end %>
