.header{
     @include display(flex);
}

.header__branding{
    flex: 1;
}
.header--cozy{
    padding: 15px;
}
.header__nav{
    flex: 1;
    nav ul{
        list-style:none;
        display: flex;
        justify-content: flex-end;
        margin: 0;
        li:last-child{
            margin-right: 0;
        }
        li{
            margin: 0 20px 0 0 ;
        }
    }
}


@media (max-width: 640px){
    .header{
        flex-flow: column;
    }
    .header__nav{
        nav ul{
            flex-flow: column;
            justify-content:flex-start;
            li{
                margin: 0;
            }
        }
    }
}
