//General Colors
$primary-color: #33C3F0;
$success-color: #2ecc71;
$warning-color: #e74c3c;

//Text colors
$text-color: #222;
$link-color: #1EAEDB;
$link-hover-color:  darken($link-color, 10%);


$container-width: 960px;
